<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://249023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f1e5f0d0-1535-4c30-b31d-a65bb20db670/resourcegroups/249023/providers/Microsoft.Web/sites/249023</ResourceId>
    <UserName>$249023</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://249023.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>